.playbutton-1 {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: -14px;
    right: -16px;
    background-color: var(--color-yellow);
    z-index: 1;
  }
  .hedding-1,
  .third-child-frame {
    flex: 1;
    display: flex;
    position: relative;
    max-width: 100%;
  }
  .hedding-1 {
    height: 151.2px;
    font-weight: 800;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }
  .third-child-frame {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .first-child-frame,
  .second-child-frame {
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .second-child-frame {
    align-self: stretch;
    flex-direction: row;
    align-items: flex-end;
    padding: 14px 16px 0 0;
    max-width: 100%;
  }
  .first-child-frame {
    width: 603px;
    flex-direction: column;
    align-items: flex-start;
    padding: 1620px 0 0;
    max-width: calc(100% - 4633px);
  }
  .artical-2-icon,
  .article-1-icon {
    position: absolute;
    margin: 0 !important;
    object-fit: cover;
  }
  .article-1-icon {
    height: 1111px;
    width: 1807px;
    bottom: 88px;
    left: -1434px;
  }
  .artical-2-icon {
    height: 1125px;
    width: 1295px;
    right: 190px;
    bottom: 57px;
  }
  .news-and-articles {
    margin: 0;
  }
  .headline-text,
  .hedline {
    max-width: 100%;
    flex-shrink: 0;
  }
  .hedline {
    height: 190.8px;
    width: 2122.6px;
    position: relative;
    font-weight: 800;
    display: inline-block;
  }
  .headline-text {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .span {
    text-decoration: underline;
  }
  .a {
    color: inherit;
  }
  .peragraph {
    width: 1792.3px;
    height: 342.4px;
    position: relative;
    font-size: 53.4px;
    font-weight: 800;
    color: #5c586a;
    text-align: left;
    display: inline-block;
    flex-shrink: 0;
    max-width: 100%;
  }
  .sixth-child-frame {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 1px 0;
    max-width: 100%;
    flex-shrink: 0;
  }
  .hedline-2,
  .playbutton-2 {
    position: absolute;
    left: 0;
    width: 542.6px;
    height: 177.9px;
  }
  .playbutton-2 {
    top: 5px;
    background-color: var(--color-yellow);
    z-index: 1;
  }
  .hedline-2 {
    top: 0;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }
  .ninth-child-frame {
    height: 183px;
    width: 543px;
    position: relative;
    max-width: 100%;
  }
  .eighth-child-frame,
  .fifth-child-frame {
    display: flex;
    box-sizing: border-box;
    max-width: 100%;
  }
  .eighth-child-frame {
    width: 1531px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl);
    font-size: var(--font-size-52xl-2);
    color: var(--color-black);
  }
  .fifth-child-frame {
    flex: 1;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0 296px 0 0;
    gap: 1113px 0;
  }
  .fourth-child-frame {
    width: 2461px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    max-width: calc(100% - 2775px);
    font-size: 143.1px;
    color: #ef0b19;
  }
  .artical-3-icon {
    height: 1810px;
    flex: 1;
    overflow: hidden;
    object-fit: cover;
  }
  .artical-3-icon,
  .hedline-3,
  .playbbutton-3 {
    position: relative;
    max-width: 100%;
  }
  .playbbutton-3 {
    height: 204.6px;
    width: 547px;
    background-color: var(--color-yellow);
    display: none;
  }
  .hedline-3 {
    height: 190.1px;
    flex: 1;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }
  .article-box,
  .twelfth-child-frame {
    display: flex;
    flex-direction: row;
    max-width: 100%;
  }
  .article-box {
    width: 547px;
    margin: 0 !important;
    position: absolute;
    bottom: -121px;
    left: 297px;
    background-color: var(--color-yellow);
    align-items: flex-end;
    justify-content: center;
    padding: 15px 0 0;
    box-sizing: border-box;
    z-index: 1;
  }
  .twelfth-child-frame {
    align-self: stretch;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
  }
  .eleventh-child-frame,
  .news-and-articals {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .eleventh-child-frame {
    width: 1142px;
    flex-direction: column;
    padding: 191px 0 0;
    max-width: calc(100% - 4094px);
  }
  .news-and-articals {
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    flex-direction: row;
    padding: 114px 316px 780px;
    gap: 0 515px;
    max-width: 100%;
    text-align: center;
    font-size: var(--font-size-52xl-2);
    color: var(--color-black);
    font-family: var(--font-inter);
  }
  .news-articles-page {
    width: 100%;
    height: 2895px;
    position: relative;
    background-color: rgba(74, 176, 183, 0.39);
    overflow: hidden;
    letter-spacing: normal;
  }
  @media screen and (max-width: 4350px) {
    .first-child-frame {
      display: none;
    }
    .fourth-child-frame {
      max-width: 100%;
    }
    .eleventh-child-frame {
      display: none;
    }
  }
  @media screen and (max-width: 3075px) {
    .first-child-frame {
      display: none;
    }
    .fourth-child-frame {
      max-width: 100%;
    }
    .eleventh-child-frame {
      display: none;
    }
  }
  @media screen and (max-width: 1800px) {
    .hedding-1 {
      font-size: var(--font-size-38xl);
    }
    .first-child-frame {
      display: none;
    }
    .hedline {
      font-size: var(--font-size-38xl);
    }
    .peragraph {
      font-size: var(--font-size-24xl);
    }
    .hedline-2 {
      font-size: var(--font-size-38xl);
    }
    .fifth-child-frame {
      gap: 1113px 0;
      padding-right: 74px;
      box-sizing: border-box;
    }
    .fourth-child-frame {
      max-width: 100%;
    }
    .hedline-3 {
      font-size: var(--font-size-38xl);
    }
    .eleventh-child-frame {
      display: none;
    }
    .news-and-articals {
      gap: 0 515px;
      padding-left: var(--padding-60xl);
      padding-right: var(--padding-60xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 450px) {
    .hedding-1 {
      font-size: var(--font-size-24xl);
    }
    .first-child-frame {
      display: none;
    }
    .hedline {
      font-size: 36px;
    }
    .peragraph {
      font-size: 32px;
    }
    .hedline-2 {
      font-size: var(--font-size-24xl);
    }
    .fifth-child-frame {
      gap: 1113px 0;
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
    .fourth-child-frame {
      max-width: 100%;
    }
    .hedline-3 {
      font-size: var(--font-size-24xl);
    }
    .eleventh-child-frame {
      display: none;
    }
    .news-and-articals {
      gap: 0 515px;
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
  }
    